<footer>
    <div class="container">
        <div>This Social Media website (SocialMe) is created by:Varun Kumar,Btech in cse from IIT Jammu</div>
        <div>Contact email:2019ucs0103@iitjammu.ac.in</div>
    </div>
</footer>