<header>
    <div class="container">
        <div><h2>SocialMe</h2></div>
        <div>
                <a href="/user/sign-in">Sign In</a>
                <a href="/user/sign-up">Sign Up</a>
        </div>
    </div>
</header>