<header>
    <div class="header-container">
        <div><h2><a href="/">SocialMe</a></h2></div>
       
         {{#if user}}
         <div>
                <img src="{{user.avatar}}" alt="avatar" onerror=this.src="/profile/default-profile-image.png" width="40px" style="border-radius: 50%;">
                <a href="/user/Profile/{{user._id}}">{{user.name}}</a>
                <a href="/user/sign-out">Sign Out</a>
        </div>
        
    {{else}}
         <div>
                <a href="/user/sign-in">Sign In</a>
                <a href="/user/sign-up">Sign Up</a>
        </div>
        
    {{/if}}
    </div>
</header>