<h1>Home</h1>
{{#if user}}
<form action="/post/create" method="POST">
    <textarea name="content" id="" cols="30" rows="10" placeholder="Type here..." required></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}
<div id="posts-list">
    <ul>
        {{#each posts}}
            {{>post}}
        {{/each}}
    </ul>
</div>

<div id="friends-list">
    <h1>Friends</h1>
    {{#each profile_users}}
        <a href="/user/profile/{{this._id}}">{{this.name}}</a><br>
    {{/each}}
</div>