<link rel="stylesheet" href="/css/reset-password.css">
<div id="reset-password-container">
    <div id="reset-password-form">
        <h3 class="text-center m-0"><i class="fas fa-sign-in-alt"></i> Reset Password</h3>
        <div id="message">
            {{!-- here message pop-up will appear via jquery --}}
        </div>
        <form id="otp-form" class="send-otp" action="/reset-password/send-otp" method="POST">
            <div class="mb-3">
                <label for="otp-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="otp-email" aria-describedby="emailHelp"
                    name="email" required>
            </div>
            <div id="otp-input">
                {{!-- otp input box will appear via jquery --}}
            </div>
            <button id="otp-btn" class="btn btn-danger mb-2" style="width: 100%;" type="submit">Send OTP</button>
        </form>
    </div>
</div>
<script src="/js/reset-password.js"></script>
