<link rel="stylesheet" href="/css/reset-password.css">
<div id="reset-password-container">
    <div id="reset-password-form">
        <h3 class="text-center m-0"><i class="fas fa-sign-in-alt"></i> Reset Password</h3>
        <div id="message">
            <div class="alert alert-warning alert-dismissible fade show p-1 my-2" role="alert" S>
            some message!
            <button type="button" class="btn-close p-0 pe-2 my-auto" data-bs-dismiss="alert" aria-label="Close" style="height: 100%;"></button>
        </div>
        </div>
        <form id="send-otp-form" action="/reset-password/send-otp" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <button class="btn btn-danger mb-2" style="width: 100%;">Send OTP</button>
        </form>
    </div>
</div>
<script src="/js/reset-password.js"></script>