#chatbox{
    height: 350px;
    width: 280px;
    border: dashed black 1px;
    position:fixed;
    margin-bottom: 56px;
    bottom: 0px;
    right: 6px;
    overflow-y: scroll;
    #chatbox-form{
        position:fixed;
        margin-bottom: 56px;
        bottom: 0;
        right: 24px;
    
        input{
            height: 34px;
            width: 178px;
        }
        button{
            height: 40px;
            width: 77px;
        }
        
    }
    #chat-messages{
        padding:5px;
        .sender{
            padding: 5px;
            margin: 8px;
            background-color: #EFE1CE;
            width: 55%;
            border-radius: 5px;
        }
        .receiver{
            padding: 5px;
            margin: 8px;
            background-color: #F7CAC9;
            width: 55%;
            margin-left: auto;
            border-radius: 5px;
        }
    }
}