#chatbox{
    height: 350px;
    width: 280px;
    border: dashed black 1px;
    position:fixed;
    margin-bottom: 60px;
    bottom: 0px;
    right: 6px;
    #chatbox-form{
        position:absolute;
        bottom: 0;
        width: 100%;
        input{
            height: 34px;
            width: 70%;
        }
        button{
            height: 40px;
            width: 27%;
        }
        
    }
    #chat-messages{
        padding:5px;
        .sender{
            padding: 5px;
            margin: 8px;
            background-color: #EFE1CE;
            width: 55%;
            border-radius: 5px;
        }
        .receiver{
            padding: 5px;
            margin: 8px;
            background-color: #F7CAC9;
            width: 55%;
            margin-left: auto;
            border-radius: 5px;
        }
    }
}