#chatbox{
    height: 360px;
    width: 300px;
    box-shadow: 0 0 8px;
    border-top-left-radius: 12px;
    position:fixed;
    margin-bottom: 66px;
    bottom: 0px;
    right: 6px;
    overflow-y: scroll;
    #chatbox-form{
        position:fixed;
        margin-bottom:68px;
        bottom: 0;
        right: 24px;
        width: 280px;
    }
    #chat-messages{
        padding:5px;
        margin-bottom: 40px;
        .sender{
            padding: 5px;
            margin: 10px 6px;
            background-color:lightcyan;
            box-shadow: 1px 1px 4px;
            //color: white;
            width: 55%;
            border-radius: 5px;
        }
        .receiver{
            padding: 5px;
            margin: 10px 6px;
            background-color:mistyrose;
            box-shadow: 1px 1px 4px;
            width: 55%;
            margin-left: auto;
            border-radius: 5px;
        }
    }
}