h2{
    text-align: center;
}
#home-container {
    display: flex;
    #write-post{
        width: 30%;
        padding:0 40px;
    }
    #posts-list{
        width: 40%;
        padding: 0 40px;
        border-left: 1px solid lightgrey;
        height: 628px;
        overflow-y: scroll;
    }
    
  }
.post-paragraph{
    border: solid 1px lightgrey;
    border-radius:5px;
    padding:8px;
    margin: 0;
    word-wrap: break-word;
    background-color:lightcyan;
}
.comment-paragraph{
    word-wrap: break-word;
    padding:0 5px;
    margin: 0;
    background-color:mistyrose;
}
#post-textarea{
    border:solid 1px grey; 
    background-color:lightcyan;
}
#post-textarea:focus{
    border: solid 1px lightgrey;
}