h2{
    text-align: center;
}
#home-container {
    display: flex;
    #write-post{
        width: 30%;
        padding:0 10px;
    }
    #posts-list{
        width: 40%;
        padding:0 10px;
        border-left: 1px solid lightgrey;
        height: 628px;
        overflow-y: scroll;
    }
    
  }
  