#home-container {
    display: flex;
    #feed{
        width: 75%;
        padding:0 10px;
    } 
    #friends-list{
        width: 25%;
        padding:0 10px;
        border-left: 1px solid lightgrey;
    }
  }
  