body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}
#header{
    header{
        background-color: blue;
        margin-bottom: 2px;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            div{
                margin:0 4px;
                h2{
                    color: white;
                    margin: 10px 0;
                }
                a{
                    text-decoration: none;
                    margin: 5px;
                    color: white;
                }   
            }
        }
    }
}
#footer{
    footer{
        margin-top: 4px;
        .container{
            padding: 8px;
            text-align: center;
            background-color :lightgrey;
            color:grey;
        }
    }
}
#content{
    padding: 5px;
}