#profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    #profile-form{
        box-shadow: 2px 2px 10px black;
        padding: 20px;
        width: 28%;
    }
    #other-user-profile{
       box-shadow: 2px 2px 10px black;
       padding: 20px;
       width: 28%;
       display: flex;
       justify-content: space-around;
       align-items: center;
    }
}
img {
    border-radius: 50%;
  }
