#sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    #sign-up-form{
       box-shadow: 2px 2px 10px black;
       padding: 20px;
       width: 30%;
    }
}
