body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    
}
header{
    background-color: blue;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        div{
            margin:0 4px;
            h2{
                color: white;
                margin: 10px 0;
            }
            a{
                text-decoration: none;
                margin: 5px;
                color: white;
            }   
        }
    }
}
footer{
    .container{
        padding: 4px;
        text-align: center;
        height:40px;
        background-color: lightgrey;
        color: grey;
    }
}