#chatbox {
  height: 360px;
  width: 300px;
  box-shadow: 0 0 8px;
  border-top-left-radius: 12px;
  position: fixed;
  margin-bottom: 66px;
  bottom: 0px;
  right: 6px;
  overflow-y: scroll; }
  #chatbox #chatbox-form {
    position: fixed;
    margin-bottom: 68px;
    bottom: 0;
    right: 24px;
    width: 280px; }
  #chatbox #chat-messages {
    padding: 5px;
    margin-bottom: 40px; }
    #chatbox #chat-messages .sender {
      padding: 5px;
      margin: 10px 6px;
      background-color: lightcyan;
      box-shadow: 2px 2px 5px;
      width: 55%;
      border-radius: 5px; }
    #chatbox #chat-messages .receiver {
      padding: 5px;
      margin: 10px 6px;
      background-color: mistyrose;
      box-shadow: 2px 2px 5px;
      width: 55%;
      margin-left: auto;
      border-radius: 5px; }
