#forget-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; }
  #forget-password-container #forget-password-form {
    box-shadow: 2px 2px 10px black;
    padding: 15px;
    width: 28%;
    border-radius: 10px; }
