h2 {
  text-align: center; }

#home-container {
  display: flex; }
  #home-container #write-post {
    width: 30%;
    padding: 0 10px; }
  #home-container #posts-list {
    width: 40%;
    padding: 0 10px;
    border-left: 1px solid lightgrey;
    height: 628px;
    overflow-y: scroll; }
