#header header {
  background-color: blue;
  position: fixed;
  top: 0px;
  width: 100%; }
  #header header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header header .header-container div {
      margin: 0 4px; }
      #header header .header-container div h2 {
        color: white;
        margin: 8px 0; }
      #header header .header-container div a {
        text-decoration: none;
        margin: 5px;
        color: white; }

#footer footer {
  position: fixed;
  bottom: 0px;
  width: 100%; }
  #footer footer .footer-container {
    padding: 8px;
    text-align: center;
    background-color: blue;
    color: white;
    font-weight: 400; }

#content {
  margin-top: 58px;
  margin-bottom: 65px; }

a {
  text-decoration: none; }
